a{
    color: #fff;
}

a:hover{
    color: #337ab7;
    text-decoration: none;
}

/*Header Nav Bar Styles*/
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

#header a img {
    bottom: 10px;
    position: relative;
}

#header ul{
    display: none;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

@media (max-width: 768px) {
    #header ul{
        display: block;
    }
}

/*Cover Styles*/
#cover{
    background-color: #F00;
    height: 350px;
}

.nav-container{
    padding: 0;
    margin: 0;
    border-right: 1px solid #fff;
}

#cover div .active{
    background-color: #FFF;
    color: #f00;
}

.nav-property{
    height: 50px;
    text-align: right;
}

#cover div a {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    padding-top: 15px;
    text-decoration: none;
    width: 100%;
}

#cover div a:hover{
    background-color: #FFF;
    color: #f00;
}

#cover div a:first-child{
    margin-top: 25px;
}

#cover div a:last-child{
    border-bottom: none;
    margin-bottom: 25px;
}
/*Cover Image styles*/
#cover-image{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#cover-image .cycle-slideshow{
    position: relative;
    overflow: hidden;
    height: 350px;
}

#cover-image .cycle-slideshow img{
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    #cover div a{
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    #cover .nav-container{
        display: none;
    }
}

/*footer Styles*/
#footer{
    height: 75px;
    background-color: #f00;
    margin-top: 10px;
}

#footer .info{
    height: 50px;
}

#footer .info .btn{
    font-size: 2em;
    color: #fff;    
}

#footer .info .btn:hover{
    color: #337ab7;
}

#footer .copyrights{
    height: 25px;
    background-color: #1c2a3b;
}

#footer .copyrights p{
    padding-top: 3px;
    color: #7a7a7b;
    text-align: center;
}

#footer .seperator-line{
    position: relative;
    top: 8px;
    height: 36px;
    border-left: 1px solid #fff;
}

#footer .contact div{
    height: 25px;
    margin: 0;
    padding: 0;
}

#footer .contact a{
    position: relative;
    top: 3px;
}

#footer .contact a i{
    color: #000;
}

#footer .contact a b{
    color: #000;
}

@media (max-width: 1160px) {
    #footer .contact{
        font-size: 0.82em;;
    }
}

@media (max-width: 980px) {
    #footer .contact{
        width: 100%;
    }
    #footer .info{
        height: 100px;
    }
    #footer{
        height: 125px;
    }
    #footer .seperator-line{
        border: none;
    }
    #footer .social{ 
        width: 100%;
    }   
}

@media (max-width: 768px) {
    #footer{
        height: 75px;
    }
    #footer .contact{
        display: none;
    }
    #footer .social div{
        display: none;
    }
    #footer .info{
        height: 50px;
    }
    #footer .social{
        text-align: center;
    }
    #footer .social a{
        padding: 0 6%;
    }
    #footer .copyrights div:first-child{
        display: none;
    }   
}

@media (max-width: 470px) {
    #footer{
        font-size: 0.5em;
        height: 40px;
    }    
    #footer .info{
        height: 25px;
    }
    #footer .copyrights{
        height: 15px;
    }
}


